<div id="message--{{id}}" class="comment">
    <Strong class="comment-author">{{username}}</Strong>
    <span class="comment-date">{{formatDateString createdAt}}</span>
    <div class="comment-text">{{text}}</div>
</div>