

 
       
       
       
   
   <main class="main-content" >
    <a href="#">
        <img src="#" alt="" class="logo">
       </a>
       <form class="search-bar">
            <input class="search-input" type="search" placeholder="Search" arial-label="Search"/>
            <button type = "submit" class="search-btn">
                <span class="material-icons">search</span>
            </button>
       </form>
    <div class="videos">
        <div class="video-section-title">
            <div id="photos-counter"></div>
        </div>
        <section class="video-section" id="main-content">
            
            
        </section>
    </div>
    </main>
