
        <main class="main-content">
            <div class="form">
                <form id="form" class="login" action="/users/login" method="post" enctype="application/x-www-form-urlencoded">
                        <p>Login</p>
                        <input type = "text" name = "username" placeholder="username"/>
                        <input type="password" name="password" placeholder="password"/>
                        <input id="submit" type="submit" value="Submit"/>
                        <p class="message">Not registered ? <a href="/registration">Create an account</a></p>
                </form>
            </div>
        </main>
           
    