
            <main class="main-content">
                <div class="form">
                    <form>
                            <p>Post</p>
                            <input type = "text" required name = "post-title" placeholder="Funny Cat Dancing"/>
                            <input type = "text"  name = "description" placeholder="My cat niki is dancing ..."/>
                            <input type = "file" required name = "video-file"/>
                            <p><input type="checkbox" required name="terms">I accept the <a href="https://www.youtube.com/static?template=terms">Terms and Conditions</a></p>
                            <input id="submit" type="submit" value="Submit"/>
                            <p class="message">Not registered ? <a href="registration.html">Create an account</a></p>
                    </form>
                </div>
            </main>

            