
            <main class="main-content">
                <div class="form">
                    <form id ="post-image" class="input-form" action="/posts/create" method="post" enctype="multipart/form-data">
                            <p>Post</p>
                            <input type = "text" required name = "title" placeholder="Title"/>
                            <input type = "text"  name = "description" placeholder="My cat niki is dancing ..."/>
                            <input type = "file"  name = 'uploadVideo'/>
                            <p><input type="checkbox" required name="aupCheck">I accept the <a href="https://www.youtube.com/static?template=terms">Terms and Conditions</a></p>
                            <input id="submit" type="submit" value="Submit"/>
                            <p class="message">Not registered ? <a href="/registration">Create an account</a></p>
                    </form>
                </div>
            </main>

            