    <main class="main-content">
        <div class="form">
            <form id="form" class="registration">
                    <p>Registration</p>
                    <div class="input-control">
                        <div class="error"></div>
                        <input type = "text" id="username" name = "username" placeholder="username"/>
                       
                    </div>
                    <div class="input-control">
                        <div class="error"></div>
                        <input id="email" type="text" name="email"  placeholder="mailito@mail.com"/>
                       
                    </div>
                    <div class="input-control">
                        <div class="error"></div>
                        <input type="password" name="password" id="password1" placeholder="password"/>
                       
                    </div>
                    <div class="input-control">
                        <div class="error"></div>
                        <input type="password" name="password" id="password2" placeholder="Confirm-password"/>
                       
                    </div>
                    <div class="checkbox-container">
                        <p><input type="checkbox" required name="age">I am 13 years old or older</p>
                    </div>
                    <div class="checkbox-container">
                        <p><input type="checkbox" required name="terms">I accept the <a href="https://www.youtube.com/static?template=terms">Terms and Conditions</a></p>
                    </div>
                    <input id="submit" type="submit" value="Submit"/>
            </form>
        </div>
    </main>
    