body{
    padding : 0;
    margin : 0;
    text-align: center;
    background-size : cover;
    background-color: #06C5CF;
}

.form{
    font-family:"Roboto", sans-serif;
    position : relative;
    z-index: 1;
    background: #FFFFFF;
    opacity:99%;
    max-width:260px;
    margin :200px auto 100px;
    padding: 10px 45px 30px 45px;
    text-align : center;
    box-shadow: 0 0 20px 0 rbga(0,0,0,0.2), 0 5px 5px 0 rgba(0,0,0,0.24);
    border-radius:10px;
    
}

.form .error{
    display: inline;
    z-index: 1;
}

.form p{
    font-size:15px;
    padding: 1px;
    text-align:center;
}

.form input{
    outline: 0;
    border-radius : 10px;
    background:#F2F2F2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding : 15px ;
    box-sizing : border-box;
    font-size : 14px;
}

.form input:hover{
    background-color : #D3F8F9;
    transition: all 1s ease 0s;
}

.form input :focus{
    background-color : #D3F8F9;
    transition: all 1s ease 0s;
}

#submit{
    text-transform:uppercase;
    outline : 0;
    border-radius:10px;
    background: #1ADBE5;
    width:100%;
    color:#FFFFFF;
    font-size:14px;
    cursor:pointer;
}

#submit :hover, #submit:active, #submit:focus{
    background-color:#06C5CF;
    transition: all 1s ease 0s;
}

.form .message{
    margin:15px 0 0;
    color: #B3B3B3;
    font-size:12px;
}

.form .message a{
    color: #06C5CF;
    text-decoration: none;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: .4em;
    flex-direction: column;
}


.container{
    display: grid;
    grid-auto-flow: row;
    grid-template-areas: 
    "header"
    "mcontent"
    "footer";
}

.page-header{
    padding: 1rem;
    background-color:#06C5CF;
    grid-area: header;
}

.main-content{
    background-color: #06C5CF;
    min-height: 75vh;
    grid-area: mcontent;
}

.page-footer{
    background-color: #06C5CF;
    padding: .5em;
    color: #FFFFFF;
    align-content: center;
    grid-area: footer;
}


   
    nav ul{
        display: flex;
        flex-direction: column;
        
    }

      
      .navigation__checkbox {
          display: none;
      }
      
      .navigation__button {
          position: fixed;
          top: 1.5rem;
          right: 1.5rem;
          height: 5rem;
          width: 5rem;
          text-align: center;
          background-color: #fff;
          border-radius: 50%;
          z-index: 300;
          box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
          cursor: pointer;
      }
    
      @media screen  and (min-width: 768px) {
          .navigation__button {
              top: 4rem;
              right: 4rem;
              height: 7rem;
              width: 7rem;
          }
      }
      
      .navigation__background {
          position: fixed;
          top: 2rem;
          right: 2rem;
          height: 3rem;
          width: 3rem;
          border-radius: 50%;
          background: #4A676A;
          background-size: cover;
          background-position: center;
          z-index: 100;
          transition: all 800ms cubic-bezier(0.86, 0, 0.07, 1);
      }
      
      @media screen and (min-width: 768px) {
          .navigation__background {
              top: 4.5rem;
              right: 4.5rem;
              height: 6rem;
              width: 6rem;
          }
      }
      
      .navigation__nav {
          position: fixed;
          top: 0;
          left: 0;
          height: 100vh;
          opacity: 0;
          width: 0;
          visibility: hidden;
          z-index: 200;
          transition: all 800ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
      }
      
      .navigation__list {
          /*@include center;*/
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          text-align: center;
          width: 100%;
          list-style: none;
      }
      
      .navigation__item {
          margin: 1rem;
      }
      
      .navigation__link:link,
      .navigation__link:visited {
          display: inline-block;
          padding: 1rem 2rem;
          color: #f4f4f4;
          font-size: 1rem;
          font-family: Roboto,sans-serif;
          text-decoration: none;
          transition: all .2s;
      }
      
      @media(min-width: 768px) {
          .navigation__link:link,
          .navigation__link:visited {
              font-size: 1rem;
          }
      }
      
      
      
      .navigation__link:hover {
          color: #C1D0D0;
          transform: scale(1.1);
      }
      
      .navigation__checkbox:checked~.navigation__background {
          transform: scale(80)
      }
      
      .navigation__checkbox:checked~.navigation__nav {
          width: 100%;
          visibility: visible;
          opacity: 1;
      }
      
      .navigation__icon {
      
          position: relative;
          margin-top: 2.5rem;
      }
      
      @media screen and (min-width: 768px) {
          .navigation__icon {
              margin-top: 3.5rem;
          }
      }
      
      .navigation__icon,
      .navigation__icon::before,
      .navigation__icon::after {
          display: inline-block;
          width: 2.2rem;
          height: 2px;
          background-color: #06C5CF;
      }
      
      @media (min-width: 768px) {
          .navigation__icon,
          .navigation__icon::before,
          .navigation__icon::after {
              width: 3rem;
          }
      }
      
      .navigation__icon::before,
      .navigation__icon::after {
          content: '';
          position: absolute;
          left: 0;
          transition: all 200ms;
      }
      
      .navigation__icon::before {
          top: -.8rem;
      }
      
      .navigation__icon::after {
          top: .8rem;
      }
      
      .navigation__button:hover .navigation__icon::before {
          top: -1rem;
      }
      
      .navigation__button:hover .navigation__icon::after {
          top: 1rem;
      }
      
      .navigation__checkbox:checked+.navigation__button .navigation__icon {
          background-color: transparent;
      }
      
      .navigation__checkbox:checked+.navigation__button .navigation__icon::before {
          top: 0;
          transform: rotate(135deg);
      }
      
      .navigation__checkbox:checked+.navigation__button .navigation__icon::after {
          top: 0;
          transform: rotate(-135deg);
      }
      
      
    .input-control.success input {
        background-color: #09c37225;
    }
    
    .input-control.error input {
        background-color: #ff386039;
    }
    
    .input-control .error {
        color: #ff3860;
        font-size: 9px;
        height: 13px;
    }