*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto,"Nunito",Arial, Helvetica, sans-serif;
    
}
body{
    padding : 0;
    margin : 0;
    text-align: center;
    background-size : cover;
    background-color: #06C5CF;
}

section {
    width: 100vw;
    height: 100vw;
    position: relative;
}

.card{
    width: 350px;
    height: auto;
    background-color: #fff;
    margin: auto;
    margin-top: 10%;
    border-radius: 5px;
    box-shadow: 0px 0px 14px 0px;
    

}

svg{
    width: 33px;
    padding: 5px;
    cursor: pointer;
    color: #5c5b5b;
}
.info-svg{
    background-color: #f0f0f0;
    border-radius: 50%;
}

.top, .body-icons{
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.info img{
    width: 35px;
    padding: 2px;
    background-color: #ffff;
    border-radius: 50%;
    box-shadow: 0px 0px 5px 0px rgb(216, 216, 216,0.45);
}

.info{
    display: flex;
}

.user-name{
    margin: 0px 10px;
}

.user-name .name{
    font-size: 13px;
    font-weight: 600;
}

.user-name p{
    font-size: 10px;

}

.user-name .id{
    color: grey;
}

.body, .bottom-section{
    padding: 5px 15px;

}

.body video{
    width:100%;
    border-radius: 5px;
}

.body-icons{
    padding: 5px 0px; 

}

.bottom{
    margin: auto;
    display: flex;
    margin-top: 10px;
    padding: 7px;
    position: relative;
}

input{
    width: 100%;
    padding: 5px;
    padding-right: 40px;
    border-radius: 10px;
    border: 2px solid #a39e9e;
    font-size: 15px;
}
 .bottom svg{
    position: absolute;
    right: 7px;
    top: 1px;    
}

.bottom svg:hover{
    color: #313030;
}

.bottom-section h4,p{
    padding: 0 7px;
}

h6,span{
    padding: 4px 10px;
    font-family: 'Roboto','Courier new', Courier,monospace;
}

span{
    color: #8441f0;
}

.sub-heading{
    display: flex;
    justify-content: space-between;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: .4em;
    flex-direction: column;
}


.container{
    display: grid;
    grid-auto-flow: row;
    grid-template-areas: 
    "header"
    "mcontent"
    "footer";
}

.page-header{
    padding: 1rem;
    background-color:#06C5CF;
    grid-area: header;
}

.main-content{
    background-color: #06C5CF;
    min-height: 75vh;
    grid-area: mcontent;
}

.page-footer{
    background-color: #06C5CF;
    padding: .5em;
    color: #FFFFFF;
    align-content: center;
    grid-area: footer;
}
/*menu btn*/
nav ul{
        display: flex;
        flex-direction: column;
        
    }

      
      .navigation__checkbox {
          display: none;
      }
      
      .navigation__button {
          position: fixed;
          top: 1.5rem;
          right: 1.5rem;
          height: 5rem;
          width: 5rem;
          text-align: center;
          background-color: #fff;
          border-radius: 50%;
          z-index: 300;
          box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
          cursor: pointer;
      }
    
      @media screen  and (min-width: 768px) {
          .navigation__button {
              top: 4rem;
              right: 4rem;
              height: 7rem;
              width: 7rem;
          }
      }
      
      .navigation__background {
          position: fixed;
          top: 2rem;
          right: 2rem;
          height: 3rem;
          width: 3rem;
          border-radius: 50%;
          background: #4A676A;
          background-size: cover;
          background-position: center;
          z-index: 100;
          transition: all 800ms cubic-bezier(0.86, 0, 0.07, 1);
      }
      
      @media screen and (min-width: 768px) {
          .navigation__background {
              top: 4.5rem;
              right: 4.5rem;
              height: 6rem;
              width: 6rem;
          }
      }
      
      .navigation__nav {
          position: fixed;
          top: 0;
          left: 0;
          height: 100vh;
          opacity: 0;
          width: 0;
          visibility: hidden;
          z-index: 200;
          transition: all 800ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
      }
      
      .navigation__list {
          /*@include center;*/
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          text-align: center;
          width: 100%;
          list-style: none;
      }
      
      .navigation__item {
          margin: 1rem;
      }
      
      .navigation__link:link,
      .navigation__link:visited {
          display: inline-block;
          padding: 1rem 2rem;
          color: #f4f4f4;
          font-size: 1rem;
          font-family: Roboto,sans-serif;
          text-decoration: none;
          transition: all .2s;
      }
      
      @media(min-width: 768px) {
          .navigation__link:link,
          .navigation__link:visited {
              font-size: 1rem;
          }
      }
      
      
      
      .navigation__link:hover {
          color: #C1D0D0;
          transform: scale(1.1);
      }
      
      .navigation__checkbox:checked~.navigation__background {
          transform: scale(80)
      }
      
      .navigation__checkbox:checked~.navigation__nav {
          width: 100%;
          visibility: visible;
          opacity: 1;
      }
      
      .navigation__icon {
      
          position: relative;
          margin-top: 2.5rem;
      }
      
      @media screen and (min-width: 768px) {
          .navigation__icon {
              margin-top: 3.5rem;
          }
      }
      
      .navigation__icon,
      .navigation__icon::before,
      .navigation__icon::after {
          display: inline-block;
          width: 2.2rem;
          height: 2px;
          background-color: #06C5CF;
      }
      
      @media (min-width: 768px) {
          .navigation__icon,
          .navigation__icon::before,
          .navigation__icon::after {
              width: 3rem;
          }
      }
      
      .navigation__icon::before,
      .navigation__icon::after {
          content: '';
          position: absolute;
          left: 0;
          transition: all 200ms;
      }
      
      .navigation__icon::before {
          top: -.8rem;
      }
      
      .navigation__icon::after {
          top: .8rem;
      }
      
      .navigation__button:hover .navigation__icon::before {
          top: -1rem;
      }
      
      .navigation__button:hover .navigation__icon::after {
          top: 1rem;
      }
      
      .navigation__checkbox:checked+.navigation__button .navigation__icon {
          background-color: transparent;
      }
      
      .navigation__checkbox:checked+.navigation__button .navigation__icon::before {
          top: 0;
          transform: rotate(135deg);
      }
      
      .navigation__checkbox:checked+.navigation__button .navigation__icon::after {
          top: 0;
          transform: rotate(-135deg);
      }